
.pagenav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #cccccc;
			}
.pagenav ul li {
			float: left;
			}
.pagenav ul li a {
			display: block;
			color: black;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			}
.pagenav ul li a:hover{
					background-color: black;
					color:white;
				}
				
.pagenav .active {
    background-color: #4CAF50;
}